@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

section {
    max-width: 700px;
    margin: 20px auto;
    border: 2px solid black;
    border-radius: 6px;
    position: relative;
}

header {
    background: #000;
    /*border-top-left-radius: 6px;*/
    /*border-top-right-radius: 6px;*/
    /*padding-left: 30px;*/
}

header > h1 {
    font-size: 32px;
    color: #00F4EA;
    font-weight: 600;
}

header > h3 {
    font-size: 18px;
    color: #fff;
}

main {
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container {
    flex: 1;
    padding: 10px;
    margin: 30px 35px;
    border: 1px solid gray;
}

.image-wrapper {
    padding: 10px 10px;
}

.image-wrapper > p {
    font-size: 12px;
    letter-spacing: 2px;
}

.description {
    flex-basis: 50%;
    padding: 50px 22px;
}

.description > p {
    letter-spacing: 2px;
    line-height: 1.5;
}

footer {
    background: #D9EBEB;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 20px;
}

footer > p {
    letter-spacing: 2px;
}

footer > p > span {
    font-weight: 600;
}

.banner {
    position: absolute;
    background: #000000;
    left: 0;
    bottom: 148px;
}

.banner > p {
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 20px;
    padding: 5px 15px;
}