@media all and (max-width: 1000px) {
    .pair {
        flex-wrap: wrap;
    }

    .planet {
        width: 100%;
    }

    footer > nav {
        flex-direction: column;
    }
}

@media all and (max-width: 850px) {
    .news > ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .news > ul > li {
        flex-basis: 100%;
        text-align: center;
    }
}